<!DOCTYPEhtml>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有学科信息</title>
    <!-- 此处略去了层叠样式表的选择器 -->
</head>
<body>
<h1>所有学科</h1>
<hr>
<!-- 循环显示所有学科 -->
{% for subject in subjects %}
<div>
    <h3>
        <!-- 学科名称链接到老师介绍页面 -->
        <a href="/teachers/?sno={{ subject.no }}">{{ subject.name }}</a>
        <!-- 如果学科是热门的，显示热门图标 -->
        {% if subject.is_hot %}
        <img src="/static/images/hot.png" width="32" alt="">
        {% endif %}
    </h3>
    <p>{{ subject.intro }}</p>
</div>
{% endfor %}
</body>
</html>